---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=%20New%20York&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\"
        : \"New York\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"New York\",\n
        \              \"short_name\" : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"New York, NY, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.91524140,\n
        \                 \"lng\" : -73.70027209999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.4959080,\n                  \"lng\" :
        -74.25908790\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 40.71435280,\n               \"lng\" : -74.00597309999999\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.91524140,\n
        \                 \"lng\" : -73.70027209999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.4959080,\n                  \"lng\" :
        -74.25573489999999\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n               \"l[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=40.7143528,-74.00597309999999&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n             [...]
