/* @override http://cameracheck.heroku.com/stylesheets/application.css?1284927852 */

@import url('refinery/application.css');
/*  
  Override default refinery application CSS below. 
  Formatting applies to all frontend.
*/

body{
	background: #333;
}

#page_container{
	width: 974px;
	margin: 0 auto;
	color: #666;
	font: normal 12px "Lucida Grande", Arial, sans-serif;
}
#menu{
	background: #ddd;
}
#menu ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu li{
	margin: 0;
	padding: 0;
	float: left;
	list-style:none;
}

#header h1 a{
  color:#888;
  text-decoration:none;
  display:inline-block;
  padding:0 0 10px;
  border-bottom:2px solid fuchsia;
}
#header h1 a:hover{
  padding:0 0 2px;
  border-bottom-width:10px;
}

#menu{
  display:inline-block;
}
#menu a{
	display: block;
	padding: 5px 10px;
	color: #333;
	text-decoration:none;
}
#menu .selected a, #menu a:hover{
	background: #fff;
}

#header h1{
	font-size: 21px;
}

h1, h2, h3{
	margin: 20px 0;
	font-size: 16px;
	color: #888;
}

ul#venues{
  margin:0;
  padding:0;
}

#body_content ul li{
	font-size: 24px;
	margin: 10px 0;
	list-style: none;
}

#body_content ul li a{
	color: #fff;
	text-decoration:none;
	display: block;
	padding: 10px;
}


#body_content a{
	color: #fff;
}

#body_content a.map_link{
  padding:1px 0 0 20px;
  background:url(/images/map.png) no-repeat left bottom;
}

#body_content a:hover, ul#venues a.selected{
	background-color: fuchsia;
}


#venue_name{
  font-size:42px;
  margin:0 0 25px;
}
form #venue_name{
  font-size:14px;
  padding:5px;
}
#venue_address{
  width:400px;
  margin:0 0 25px;
  padding:5px;
}

#camera_rules{
  padding:10px;
  color:fuchsia;
  text-align:center;
}

#footer{
  font-size:10px;
}

#footer a{
  color:#fff;
  text-decoration:none;
}

label{
  display:block;
  margin:0 0 5px;
  color:#fff;
  font-size:16px;
}
label.stripped{
  display:inline;
  margin:0;
  font-size:12px;
}

input{
  margin:5px 0;
}

input[@type=text]{
  padding:5px;
  border:1px solid #ddd;
}

#venue_submit{
  display:inline-block;
  margin:20px 0;
}

.fieldWithErrors input{
  background:#FFBEBE;
}

.success{
  display:inline-block;
  clear:both;
  padding:10px;
  font-size:14px;
  color:#205791;
  background:#D5EDF8;
  border:2px solid #92CAE4;
  margin:10px 0;
}

.button{
  display:inline-block;
  padding:5px 10px;
  font-size:16px;
  margin:0 0 0 5px;
}
.positive{
  background: #E6EFC2;
  border:2px solid #C6D880;
  color: #264409 !important;
  text-decoration:none;
}
.button:hover{
  background:#264409 !important;
  color:#fff !important;
}