<div id="venues"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Cameracheck.Routers.VenuesRouter({venues: <%= @venues.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
