<h1>Edit venue</h1>

<form id="edit-venue" name="venue">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value="<%= address %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Venue" />
  </div>

</form>

<a href="#/index">Back</a>