#main {
  padding-top: 50px;
  overflow: hidden;
}

#sidebar {
  float: left;
  width: 300px;
  display: none;
}

#add_venue {
  position: absolute;
  top: 5px;
  left: 5px;
}

fieldset {
  border: 0;
}

label {
  display: block;
  &.inline {
    display: inline;
  }
}

.spinner {
  display: none;
  width: 16px;
  height: 16px;
  &.white {
    background: url('/assets/spinner-white.gif') no-repeat;
  }
  &.pink {
    background: url('/assets/spinner-pink.gif') no-repeat;
  }
}

.loading .spinner {
  display: block;
}
