body {
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

#header {
  overflow: hidden;
  margin-bottom: 15px;
}

#logo {
  float: right;
  h1, h2 {
    margin: 0;
    text-align: right;
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

#add_venue {
  float: left;
}

#main {
  overflow: hidden;
}

#sidebar {
  float: left;
  width: 300px;
  display: none;
  h1 {
    margin: 0 0 5px;
  }
}

fieldset {
  border: 0;
}

label {
  display: block;
  &.inline {
    display: inline;
  }
}

.spinner {
  display: none;
  width: 16px;
  height: 16px;
  &.white {
    background: url('/assets/spinner-white.gif') no-repeat;
  }
  &.pink {
    background: url('/assets/spinner-pink.gif') no-repeat;
  }
}

.loading .spinner {
  display: block;
}
