.venue {
  padding: 10px;
  margin: 0 10px 15px 0;
  border: 2px dashed #ccc;
  width: 420px;
  display: inline-block;
  #venue_name {
    font-size: 20px;
    font-weight: bold;
  }
}

label {
  display: block;
}

#new_venue input[type='submit'] {
  border: 1px solid #333;
  padding: 10px;
  font-size: 15px;
  background: #fff;
  cursor: pointer;
  &:hover {
    background: #d1d7fa;
  }
}

#new_venue #venue_name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.spinner {
  display: none;
  width: 16px;
  height: 16px;
  background: url('/assets/spinner.gif') no-repeat;
}

.loading .spinner {
  display: block;
}

.edit_venue {
  input {
    &[type='text'] {
      width: 100%;
      border: 0;
      padding: 0;
      font-size: 14px;
    }
    &[type='submit'] {
      display: none;
    }
  }
  .cancel {
    display: none;
  }

  &.active {
    input[type='text'] {
      padding: 5px 0;
      border: 1px solid #333;
    }
    input[type='submit'] {
      display: inherit;
    }
    .cancel {
      display: block;
    }
    .edit {
      display: none;
    }
  }
}
